<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarinaWSApp.Properties.Settings.VGSBConnectionString"
            connectionString="Data Source=192.168.10.58;Initial Catalog=VGSB;Persist Security Info=True;User ID=BITOLA;Password=NBOAdmin$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RefDataPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RefDataPortBinding1" />
                <binding name="RetrievalPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RetrievalPortBinding1" />
                <binding name="SubmissionPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SubmissionPortBinding1" />
                <binding name="TimeServiceImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TimeServiceImplPortBinding1" />
                <binding name="SubmissionPortBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://trader.customs.gov.mk:443/trader-ws/RefDataService"
                binding="basicHttpBinding" bindingConfiguration="RefDataPortBinding"
                contract="RefDataServiceReference.RefDataPortType" name="RefDataPort" />
            <endpoint address="https://trader.customs.gov.mk:443/trader-ws/RetrievalService"
                binding="basicHttpBinding" bindingConfiguration="RetrievalPortBinding"
                contract="RetrievalServiceReference.RetrievalPortType" name="RetrievalPort" />
            <endpoint address="https://trader.customs.gov.mk:443/trader-ws/SubmissionService"
                binding="basicHttpBinding" bindingConfiguration="SubmissionPortBinding"
                contract="SubmissionServiceReference.SubmissionPortType" name="SubmissionPort" />
            <endpoint address="https://trader.customs.gov.mk:443/trader-ws/TimeService"
                binding="basicHttpBinding" bindingConfiguration="TimeServiceImplPortBinding"
                contract="TimeServiceReference.TimeServiceImpl" name="TimeServiceImplPort" />
            <endpoint address="http://was7test.zzi.si:80/ZZIeCustomsMK-AF-WS-96-70/SubmissionService"
                binding="basicHttpBinding" bindingConfiguration="SubmissionPortBinding2"
                contract="ZZISubmissionServiceReference.SubmissionDelegate"
                name="SubmissionPort1" />
        </client>
    </system.serviceModel>
</configuration>