<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarinaWSTest.Properties.Settings.VGSBConnectionString"
            connectionString="Data Source=192.168.10.58;Initial Catalog=VGSB;Persist Security Info=True;User ID=BITOLA;Password=NBOAdmin$"
            providerName="System.Data.SqlClient" />
        <add name="CarinaWSTest.Properties.Settings.VGSBConnectionString1"
            connectionString="Data Source=192.168.10.58;Initial Catalog=VGSB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CarinaWSTest.Properties.Settings.VGS_CDEPSConnectionString"
            connectionString="Data Source=192.168.0.244;Initial Catalog=VGS_CDEPS;Persist Security Info=True;User ID=SA;Password=VGS9"
            providerName="System.Data.SqlClient" />
        <add name="CarinaWSTest.Properties.Settings.VGS_CDEPSConnectionString1"
            connectionString="Data Source=89.205.48.223;Initial Catalog=VGS_CDEPS;Persist Security Info=True;User ID=sa;Password=VGS9"
            providerName="System.Data.SqlClient" />
        <add name="CarinaWSTest.Properties.Settings.VGSConnectionString"
            connectionString="Data Source=vegesa.dyndns.biz;Initial Catalog=VGS;Persist Security Info=True;User ID=SA;Password=Veljovgs1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TimeServiceImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TimeServiceImplPortBinding1" />
                <binding name="RetrievalPortBinding" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="RetrievalPortBinding1" maxReceivedMessageSize="2147483647" />
                <binding name="RefDataPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RefDataPortBinding1" />
                <binding name="calcBinding" />
                <binding name="SubmissionPortBinding2" />
                <binding name="SubmissionPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SubmissionPortBinding1" />
                <binding name="RefDataPortBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="RefDataPortBinding3" />
                <binding name="RetrievalPortBinding2" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="RetrievalPortBinding3" maxReceivedMessageSize="2147483647" />
                <binding name="SubmissionPortBinding3">
                    <security mode="Transport" />
                </binding>
                <binding name="SubmissionPortBinding4" />
                <binding name="TimeServiceImplPortBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="TimeServiceImplPortBinding3" />
                <binding name="RetrievalPortBinding4" maxReceivedMessageSize="2147483647" />
                <binding name="TestSubmissionWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TestSubmissionWebServiceSoap1" />
                <binding name="SubmissionWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SubmissionWebServiceSoap1" />
                <binding name="TestRetrievalServiceSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="TestRetrievalServiceSoap1" maxReceivedMessageSize="2147483647" />
                <binding name="RetrievalServiceSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="RetrievalServiceSoap1" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ite.customs.gov.mk:9080/calcxml/services/CalcXml"
                binding="basicHttpBinding" bindingConfiguration="calcBinding"
                contract="ITOServiceReference.calcPort" name="calcxml" />
            <endpoint address="https://trader.customs.gov.mk:443/trader-ws/RetrievalService"
                binding="basicHttpBinding" bindingConfiguration="RetrievalPortBinding"
                contract="RetrievalServiceReference.RetrievalPortType" name="RetrievalPort" />
            <endpoint address="https://trader.customs.gov.mk:443/trader-ws/RefDataService"
                binding="basicHttpBinding" bindingConfiguration="RefDataPortBinding"
                contract="RefDataServiceReference.RefDataPortType" name="RefDataPort" />
            <endpoint address="https://trader.customs.gov.mk:443/trader-ws/TimeService"
                binding="basicHttpBinding" bindingConfiguration="TimeServiceImplPortBinding"
                contract="TimeServiceReference.TimeServiceImpl" name="TimeServiceImplPort" />
            <endpoint address="http://was7test.zzi.si:80/ZZIeCustomsMK-AF-WS-96-70/SubmissionService"
                binding="basicHttpBinding" bindingConfiguration="SubmissionPortBinding2"
                contract="ZZISubmissionServiceReference.SubmissionDelegate"
                name="SubmissionPort1" />
            <endpoint address="https://trader.customs.gov.mk:443/trader-ws/SubmissionService"
                binding="basicHttpBinding" bindingConfiguration="SubmissionPortBinding"
                contract="SubmissionServiceReference.SubmissionPortType" name="SubmissionPort" />
            <endpoint address="https://traders-test.customs.gov.mk:443/trader-ws/RefDataService"
                binding="basicHttpBinding" bindingConfiguration="RefDataPortBinding2"
                contract="TestRefDataServiceReference.RefDataPortType" name="RefDataPort1" />
            <endpoint address="https://traders-test.customs.gov.mk:443/trader-ws/RetrievalService"
                binding="basicHttpBinding" bindingConfiguration="RetrievalPortBinding2"
                contract="TestRetrievalServiceReference.RetrievalPortType"
                name="RetrievalPort1" />
            <endpoint address="https://traders-test.customs.gov.mk:443/trader-ws/SubmissionService"
                binding="basicHttpBinding" bindingConfiguration="SubmissionPortBinding3"
                contract="TestSubmissionServiceReference.SubmissionPortType"
                name="SubmissionPort2" />
            <endpoint address="https://traders-test.customs.gov.mk:443/trader-ws/TimeService"
                binding="basicHttpBinding" bindingConfiguration="TimeServiceImplPortBinding2"
                contract="TestTimeServiceReference.TimeServiceImpl" name="TimeServiceImplPort1" />
            <endpoint address="http://was7test.zzi.si:80/ZZIeCustomsMK-AF-WS-96-70/RetrievalService"
                binding="basicHttpBinding" bindingConfiguration="RetrievalPortBinding4"
                contract="ZZIRetrievalServiceReference.RetrievalDelegate"
                name="RetrievalPort2" />
            <endpoint address="https://cdeps.simt.com.mk/SubmissionWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SubmissionWebServiceSoap"
                contract="SimtSubmissionServiceReference.SubmissionWebServiceSoap"
                name="SubmissionWebServiceSoap" />
            <endpoint address="https://cdeps.simt.com.mk/RetrievalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="RetrievalServiceSoap"
                contract="SimtRetrievalServiceReference.RetrievalServiceSoap"
                name="RetrievalServiceSoap" />
            <endpoint address="https://testcdeps.simt.com.mk/TestRetrievalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TestRetrievalServiceSoap"
                contract="SimtTestRetrievalServiceReference.TestRetrievalServiceSoap"
                name="TestRetrievalServiceSoap" />
            <endpoint address="https://testcdeps.simt.com.mk/TestSubmissionWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TestSubmissionWebServiceSoap"
                contract="SimtTestSubmissionServiceReference.TestSubmissionWebServiceSoap"
                name="TestSubmissionWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>